include ./includes/util.pug
doctype html
html
	+head("Error", '<meta http-equiv="refresh" content="5;url=/">')
	body
		.container
			h1 Error
			div(class="alert alert-danger" role="alert")= message
			hr
			div(class="alert alert-info" role="alert") You will be redirected after 5 seconds. 
				strong
					a(href="/") Go back now
