doctype html
html
	head
		meta(http-equiv='refresh', content='5;url=/')
		title Restoring backup
	body
		h1 Restoring Backup
		p= 'Restoring backup ' + date + '...'
		hr
		p You will be redirected after 5 seconds
